$black:#000000;
$main:#ff6900;
$white:#fff;
$bg_white:#f5f5f7;
$space:12px;

@mixin respond($breakpoint) {
    @if ($breakpoint == "desktop") {
        @media (max-width: $width) {
            @content;
        }
    }

    @if ($breakpoint == "laptop") {
        @media (max-width: 1080px) and (min-width: 600px){
            @content;
        }
    }
    @if ($breakpoint == "ipad") {
        @media (max-width: 1080px) {
            @content;
        }
    }
    @if ($breakpoint == "phone") {
        @media (max-width: 768px) {
            @content;
        }
    }
}