.box-car {
    background: $white;
    border-radius: $border-radius;
    box-shadow: rgba(0, 0, 0, 0.03) 0px 3px 10px;
    clip-path: inset(0 round 12px);
    transition: all 0.3s ease-in-out;
    a {
        display: flex;
        flex-direction: column;
        .div-img {
            width: 100%;
            //background-color: blueviolet;
            aspect-ratio: 16/10;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 90%;
                height: 90%;
                object-fit: cover;
            }
            span.name {
                position: absolute;
                top: 20px;
                left: 20px;
                font-size: 18px;
                font-weight: 500;
                color: $color_text;
                text-transform: capitalize;
            }
            span.name_tit {
                top: 50px;
                left: 20px;
                font-size: 14px;
                font-weight: 400;
                color: $color_text;
            }
        }
        .div-info {
            height: 60px;
            width: 100%;
            background-color: $white;
            display: flex;
            .info {
                flex: 1;
                //background: red;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                span {
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    font-size: 12px;
                    i {
                        font-size: 14px;
                        color: $main-500;
                    }
                }
            }
            .price {
                width: 140px;
                height: 100%;
                background: $bg_white;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 12px 0 0 ;
                position: relative;
                span {
                    color: $color_text;
                    font-weight: 700;
                }
                &::after{
                    content: '';
                    position: absolute;
                    width: 12px;
                    height: 12px;
                    background: transparent;
                    top: -12px;
                    right: 0;
                    border-radius: 0 0 12px;
                    box-shadow: 2px 2px 0 2px $bg_white;
                }
                &::before{
                    content: '';
                    position: absolute;
                    width: 12px;
                    height: 12px;
                    background: transparent;
                    bottom: 0;
                    left: -12px;
                    border-radius: 0 0 12px;
                    box-shadow: 2px 2px 0 2px $bg_white;
                }
            }
        }
    }
}
