.air-datepicker-body--day-name {
	color: #ff6900;
}

.air-datepicker-cell.-focus-{
    background-color: $main_500 !important;
    color: $white;
    border: none !important;
    
}

.air-datepicker-cell.-in-range-{
    background-color: #ff69002e !important;
}

.air-datepicker-cell.-selected-{
    background-color: $main_500 !important;
}

.air-datepicker {
	background: var(--adp-background-color);
	border:none !important;
	box-shadow: none !important;
	border-radius: $border-radius;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1) !important;
}
.air-datepicker--pointer {
	display: none !important;
}

.air-datepicker-cell {
	font-size: 12px;
}

.-disabled-:hover{
    background: transparent  !important;
}

.air-datepicker-cell.-disabled- {
	cursor: default;
	color: #d7d7d7 !important;
}