.air-datepicker-body--day-name {
	color: #ff6900;
}

.air-datepicker-cell.-focus-{
    background-color: $main_500 !important;
    color: $white;
    border: none !important;
    
}

.air-datepicker-cell.-in-range-{
    background-color: #ff69002e !important;
}

.air-datepicker-cell.-selected-{
    background-color: $main_500 !important;
}

.air-datepicker {
	background: var(--adp-background-color);
	border: 1px solid $gray;
	box-shadow: none !important;
	border-radius: $border-radius;
}
