header {
    background: $black;
    &.route_home {
        background: transparent;
    }
    z-index: 99;
    .nav {
        height: 80px;
        max-width: $width;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;

        .logo {
            //padding: 4px 12px;
            //background: red;
            color: $white;
            display: flex;
            align-items: center;
            img {
                height: 25px;
            }
        }
        ul.links {
            display: flex;
            gap: $space * 2;
            li {
                a {
                    color: $white;
                    text-transform: capitalize;
                }
                &.lang_btn {
                    position: relative;
                    a#lang_btn {
                    
                       
                        &.active + ul {
                            //background: blue;
                            transform: translateY(100%) scale(1);
                            opacity: 1;
                        }
                    }
                    ul {
                        position: absolute;
                        background: $white;
                        bottom: -6px;
                        padding: 12px;
                        width: 130px;
                        border-radius: 4px;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                        transform-origin: 0 0 0;
                        transform: translateY(100%) scale(0);
                        opacity: 0;
                        transition:all 0.3s cubic-bezier(.46,.03,.52,.96);
                        li {
                            a {
                                color: $color_text;
                                //background: blue;
                                display: flex;
                                font-size: 14px;
                                display: flex;
                                align-items: center;
                                gap: 6px;
                                img {
                                    width: 16px;
                                    height: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .login {
            display: flex;
            flex-direction: row;
            gap: $space;
            a {
                color: $white;
                background: transparent;
                padding: 6px 16px;
                border-radius: $border-radius;
                text-transform: lowercase;
                border: 1px solid $white;
                font-size: 14px;
                &:nth-child(2) {
                    background: $white;
                    color: $black;

                    &.avatar {
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                        background: transparent;
                        padding: 0 !important;
                        border: none;
                    }
                }
            }
        }
    }
}

@include respond("phone") {
    header {
        .nav {
            display: none;
        }
    }
}
