.profile-page-card {
    min-height: 200px;
    background: $white;
    position: relative;
    border-radius: 4px;
    //box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-block: $space;
    .btn_update_profile{
        position: absolute;
        top: 20px;
        right: 20px;
        background: $black;
        border-radius: 4px;
        width: 26px;
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        i{
            font-size: 16px;
            color: $white;
            opacity: 0.9;
        }
    }

    .user_profile {
        width: auto;
        height: auto;
        position: absolute;
        left: 50%;
        top: -55px;
        transform: translateX(-50%);
        //background: blue;
        display: flex;
        flex-direction: column;
        gap: 0;
        align-items: center;
        .photo {
            //background: yellow;
            width: 110px;
            aspect-ratio: 1;
            display: flex;
            img {
                width: 100%;
                height: 100%;
            }
        }
        span {
            clear: both;
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            font-size: 18px;
            line-height: 18px;
            color: $color_text;
            text-transform: capitalize;
            display: flex;
            align-items: center;
            gap: $space * 0.5;
            margin-top: 15px;
            i {
                font-size: 18px;
                color: #0abaff;
            }
        }
    }
    .info_user {
        height: 40px;
        width: 80%;
        //background: red;
        display: grid;
        grid-template: 1fr /1fr 1fr 1fr;
        gap: $space;
        .box {
            background: $white;
            border: 1px solid #ddd;
            border-radius: 4px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            i {
                position: absolute;
                left: 50%;
                top: 0;
                transform: translate(-50%, -50%);
                padding: 0 15px;
                background: $white;
                font-size: 20px;
                color: $color_text;
            }
            small {
                font-size: 14px;
                color: $color_text;
            }
        }
    }
}

#customers {
    border-collapse: collapse;
    width: 100%;
    font-size: 13px;
    //table-layout: fixed;
}

#customers td,
#customers th {
    border-bottom: 1px solid #ddd;
    //border: none;
    padding: 10px;
    text-transform: capitalize;
    &:last-child {
        width: 50px;
        //background: red;
        position: relative;
    }
}

#customers th {
    border-bottom: none;
    &:nth-child(1) {
        //background: blue;
        border-radius: 4px 0 0 4px;
    }
    &:last-child {
        //background: blue;
        border-radius: 0 4px 4px 0;
    }
}

#customers td {
    color: $color_text;
    border-top: none;
    form {
        //background: #0abaff;
        width: 24px;
        height: 24px;
    }
    button {
        background: transparent;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        i {
            font-size: 20px;
            color: $color_text;
        }
    }
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: $black;
    color: white;
}

.no_cars {
    height: 200px;
    //background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: $space;
    i {
        font-size: 30px;
        color: #888;
    }
    p {
        color: $color_text;
    }
}

.paginate {
    height: 32px;
    //background: red;
    margin-top: $space * 2;
    ul {
        display: flex;
        gap: 10px;
        justify-content: center;
        li {
            width: 32px;
            height: 32px;
            background: $black;
            border-radius: 4px;
            &.active {
                background: $main-500;
            }
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                color: $white;
                font-size: 12px;
            }
        }
    }
}

// update profile

.form_container {
    height: auto;
    //max-width: 420px;
    width: 100%;
    background: $bg_white;
    background: #fff;
    margin: 0 auto;
    //transform: translateY(100px);
    display: flex;
    flex-direction: column;
    gap: $space;
    padding-block: $space * 3;
    padding-inline: $space;
    border-radius: 12px;
    box-shadow: none;
    h1 {
        font-size: 25px;
        line-height: 32px;
        //text-align: center;
        text-transform: capitalize;
        font-weight: 700;
        //text-align: center;
    }
    p {
        //text-align: center;
        color: #757575;
        font-size: 14px;
        text-transform: capitalize;
    }
    small {
        color: #757575;
    }
    .form_box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $space $space * 0.6;
        margin-block: $space * 0.5;

        .box {
            height: auto;
            //background: rgb(51, 51, 51);
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            position: relative;
            .icon {
                height: 100%;
                aspect-ratio: 1;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            input {
                width: 100%;
                height: 36px;
                border: 1px solid #ddd;
                background: $white;
                padding-inline: 12px;
                border-radius: 4px;
                font-size: 14px;
                color: $black;
                &:focus,&:active{
                    outline: none;
                    box-shadow: none;
                }
            }
            &.column_2 {
                grid-column: 1/-1;
            }

            button {
                width: 100%;
                height: 36px;
                border: none;
                background: $black;
                color: $white;
                border-radius: 4px;
                font-size: 13px;
                font-weight: 500;
                text-transform: capitalize;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
        }
    }

    span.line {
        height: 1px;
        background: #ddd;
        width: 100%;
        margin-bottom: 10px;
    }
    .btns {
        display: flex;
        height: 36px;
        gap: $space;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            background: $black;
            flex: 1;
            color: $white;
            border-radius: 4px;
            font-size: 13px;
            text-transform: capitalize;
            font-weight: 500;
            &:nth-child(1) {
                background: $white;
                color: $black;
                border: 1px solid #ddd;
            }
        }
    }
}
